<!-- Designer Generator v 7.2.0 - SPR 2020-24 4/12/2020 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_HERRAMIEAT_701809" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_HERRAMIEAT_701809.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_HERRAMIETN_674--> 
  <div id="VC_HERRAMIEAT_701809" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false, 'cb-invisible': !vc.loaded}"> 
   <div id="G_HERRAMIAAE_794674" ng-show="vc.viewState.G_HERRAMIAAE_794674.visible" ng-class="vc.viewState.G_HERRAMIAAE_794674.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_HERRAMIAAE_794674" k-options="validatorOptions" id="G_HERRAMIAAE_794674_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_URLWXEPKJLBAEBM_849674.visible"> 
        <div class="form-group" id="VA_URLWXEPKJLBAEBM_849674_DIV"> 
         <label for="VA_URLWXEPKJLBAEBM_849674" title="{{vc.viewState.VA_URLWXEPKJLBAEBM_849674.label|translate:vc.viewState.VA_URLWXEPKJLBAEBM_849674.labelArgs}}" ng-show="vc.viewState.VA_URLWXEPKJLBAEBM_849674.visible" class="control-label">{{vc.viewState.VA_URLWXEPKJLBAEBM_849674.label|translate:vc.viewState.VA_URLWXEPKJLBAEBM_849674.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_URLWXEPKJLBAEBM_849674" name="Herramienta_url" type="text" class="form-control" ng-model="vc.model.Herramienta.url" ng-disabled="vc.viewState.VA_URLWXEPKJLBAEBM_849674.disabled || vc.viewState.VA_URLWXEPKJLBAEBM_849674.disabledingroup" ng-show="vc.viewState.VA_URLWXEPKJLBAEBM_849674.visible" ng-readonly="vc.viewState.VA_URLWXEPKJLBAEBM_849674.readonly" ng-class="vc.viewState.VA_URLWXEPKJLBAEBM_849674.style" data-cobis-group="Group,G_HERRAMIAAE_794674,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_URLWXEPKJLBAEBM_849674.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_CATALOGOYNBILMV_338674.visible"> 
        <div class="form-group" id="VA_CATALOGOYNBILMV_338674_DIV"> 
         <label for="VA_CATALOGOYNBILMV_338674" title="{{vc.viewState.VA_CATALOGOYNBILMV_338674.label|translate:vc.viewState.VA_CATALOGOYNBILMV_338674.labelArgs}}" ng-show="vc.viewState.VA_CATALOGOYNBILMV_338674.visible" class="control-label">{{vc.viewState.VA_CATALOGOYNBILMV_338674.label|translate:vc.viewState.VA_CATALOGOYNBILMV_338674.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_CATALOGOYNBILMV_338674" name="Herramienta_catalogo" type="text" class="form-control" ng-model="vc.model.Herramienta.catalogo" ng-disabled="vc.viewState.VA_CATALOGOYNBILMV_338674.disabled || vc.viewState.VA_CATALOGOYNBILMV_338674.disabledingroup" ng-show="vc.viewState.VA_CATALOGOYNBILMV_338674.visible" ng-readonly="vc.viewState.VA_CATALOGOYNBILMV_338674.readonly" ng-class="vc.viewState.VA_CATALOGOYNBILMV_338674.style" data-cobis-group="Group,G_HERRAMIAAE_794674,0" ng-model-onblur data-validation-code="{{vc.viewState.VA_CATALOGOYNBILMV_338674.validationCode}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_VABUTTONFBYZGZT_343674.visible"> 
        <div class="form-group"> 
         <label class="control-label">&nbsp;</label> 
         <div class="cb-control"> 
          <button id="VA_VABUTTONFBYZGZT_343674" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONFBYZGZT_343674','VA_VABUTTONFBYZGZT_343674',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONFBYZGZT_343674.disabled || vc.viewState.VA_VABUTTONFBYZGZT_343674.disabledingroup" ng-show="vc.viewState.VA_VABUTTONFBYZGZT_343674.visible" ng-class="vc.viewState.VA_VABUTTONFBYZGZT_343674.style"> {{vc.viewState.VA_VABUTTONFBYZGZT_343674.label|translate}} </button> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_HERRAMIETN_674--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': (!vc.isModal(this) && !vc.isDetailGrid(this))})"> 
    <button id="T_INTRDQBNJQFFI_809_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_HERRAMIEAT_701809')" ng-disabled="vc.viewState.T_INTRDQBNJQFFI_809_ACCEPT.disabled || vc.viewState.T_INTRDQBNJQFFI_809_ACCEPT.disabledingroup" ng-show="vc.viewState.T_INTRDQBNJQFFI_809_ACCEPT.visible" ng-class="vc.viewState.T_INTRDQBNJQFFI_809_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_INTRDQBNJQFFI_809_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_INTRDQBNJQFFI_809_CANCEL.disabled || vc.viewState.T_INTRDQBNJQFFI_809_CANCEL.disabledingroup" ng-show="vc.viewState.T_INTRDQBNJQFFI_809_CANCEL.visible" ng-class="vc.viewState.T_INTRDQBNJQFFI_809_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>